<%= form_for(@uiss) do |f| %>
  <% if @uiss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uiss.errors.count, "error") %> prohibited this uiss from being saved:</h2>

      <ul>
      <% @uiss.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
