%h1 Listing uisses

= form_for :uiss, url: uisses_path do |search|

  %label
    EGN
    = search.text_field :egn

  %label
    FAC. NUM
    = search.text_field :fac_num

  %button{type: 'submit', :controller => :uisses, :action => :index}
    Retrieve DATA

= $marks_array
-#%table
  %thead
    %tr

-#   %tbody
-#     - @uisses.each do |uiss| 
-#       %tr
-#         %td
-#           = link_to 'Show', uiss 
-#         %td
-#           = link_to 'Edit', edit_uiss_path(uiss) 
-#         %td
-#           = link_to 'Destroy', uiss, method: :delete, data: { confirm: 'Are you sure?' } 
-# %br
-#   = link_to 'New Uiss', new_uiss_path 
