.hero-unit-tu
  .row
    .span12
      %strong Recipient:
      = User.find(@message.recipient).full_name
  .row
    .span12
      %strong Subject:
      = @message.subject
  .row
    .span12
      %strong Content:
      = @message.content

  = link_to 'Back', messages_path
