.row
	.span12
		#comments
			%table.table-tu
				%thead
					%tr
						%th
						%th
						%th
				%tbody
					- @comments.each do |comment|
						.comment
							%tr
								%td
									= simple_format comment.user.full_name
									= simple_format comment.created_at.to_s[0..10]
								%td
									= simple_format comment.content