%h1 Users
%table
  %thead
    %tr
      %th Name
      %th email
      %th 
      %th
      %th
  %tbody
    - @users.each do |user|
      - next if user.id == current_user.id
      %tr
        %td= user.full_name
        %td= user.email
        %td= link_to 'Send Message', send_new_messages_path(user.id)
        /%td= link_to 'Show Account', topic
        /%td= link_to 'Edit', edit_topic_path(topic)
        /%td= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }
%br/