%div.navbar.navbar-inverse
  .navbar-inner
    %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.brand{href: topics_path} TU Social
    .nav-collapse.collapse
      %ul.nav
        - if signed_in? 
          %li
            %a{href: topics_path} Home
          %li
            %a{href: users_path} Students
          %li
            %a{href: teachers_users_path} Teachers
          %li
            %a{href: subjects_path} Subjects
          %li
            %btn-toolbar.btn-grou
              %a.btn.btn-inverse{href: received_messages_path}
                %span
                  - if unreaded_msg != 0
                    .badge.badge-important
                      = unreaded_msg
                      %i.icon-envelope
                  - else
                    %i.icon-envelope
          -if !current_user.professor?
            %li
              %btn-toolbar.btn-grou
                %a.btn.btn-inverse#student_marks{href: marks_path}
                  %span
                    -if received_mark
                      .badge.badge-important
                        = '1'
                        %i.icon-list-alt
                    - else
                      %i.icon-list-alt
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: edit_user_registration_path} Change password
              %li
                %a{href: edit_user_path(current_user.id)} Profile
              %li
                %a{href: messages_path} Sent messages
              %li
                = link_to 'Sign Out', destroy_user_session_path, :method => :delete